/*========================

PROJECT HERO

==========================*/
body{
    margin-top:90px;
}

.projects-hero{

background:#04205e;

color:white;

text-align:center;

padding:100px 20px;

}

.projects-hero h1{

font-size:50px;

margin-bottom:20px;

}

.projects-hero p{

max-width:800px;

margin:auto;

font-size:18px;

}

/*========================

PROJECT SECTION

==========================*/

.projects-container{

width:90%;

margin:80px auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:40px;

}

.project-card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 15px 35px rgba(0,0,0,.08);

transition:.4s;

}

.project-card:hover{

transform:translateY(-10px);

}

.project-card img{

width:100%;

height:220px;

object-fit:cover;

}

.project-content{

padding:30px;

}

.project-content h2{

margin-bottom:15px;

color:#0F172A;

}

.project-content p{

margin-bottom:25px;

color:#475569;

}

/*========================

TECH STACK

==========================*/

.tech{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:25px;

}

.tech span{

background:#E0F2FE;

color:#2563EB;

padding:8px 15px;

border-radius:30px;

font-size:14px;

font-weight:500;

}

/*========================

BUTTONS

==========================*/

.buttons{

display:flex;

gap:15px;

}

.btn-outline{

background:white;

border:2px solid #2563EB;

color:#2563EB;

}

.btn-outline:hover{

background:#2563EB;

color:white;

}

/*========================

CTA

==========================*/

.cta{

background:#F8FAFC;

padding:80px 20px;

text-align:center;

}

.cta h2{

font-size:36px;

margin-bottom:20px;

}

.cta p{

margin-bottom:30px;

font-size:18px;

}

/*========================

RESPONSIVE

==========================*/

@media(max-width:768px){

.projects-hero h1{

font-size:38px;

}

.projects-container{

grid-template-columns:1fr;

}

.buttons{

flex-direction:column;

}

}